.yellow{
    background-color: #F29A2E;
    border: 2px grey ;
    color: white;
}
.cardimage{
    min-width: 22%;
    height: 100%;
    position: relative;
}
.card-image{
    position: absolute;
    width: 100%;
    aspect-ratio: auto;
    height: 100%;
    border-radius: 10px;
}
.card p{
    color: grey;
}

@media screen  and (max-width:600px){
    .cardimage{
        height: 45%;
    }
}
@media screen  and (max-width:1200px) and (min-width:700px){
    .cardimage{
        height: 70%;
    }
}