.campaign{
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    margin-top: 5vh;
}
.campaign p{
    color: grey;
}
.lightbulb{
    display: flex;
    /* margin-left: 10vw; */
    margin-top: 5vh;
    justify-content: space-around;
    color: grey;
    /* border-bottom: 2px solid red;
    position: relative; */
}
.campicon{
    font-size: 2.2rem;
    border: 2px solid;
    border-radius: 50%;
    padding: 5px;
}
.camp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position: relative;
    bottom: -45px; */
    z-index: 2;
    background-color: white;
}
.camp p{
    font-size: 0.7rem;
    text-align: center;
    margin-top: 5px;
}
.camp-story{
    max-width: 95%;
    margin: 5vh auto 0;
    padding: 22px;
    border-radius: 13px;
    border: solid thin grey;
}
.camp-story1{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 15px;
}
.camp-story1 p{
    font-size: 13px;
    color: grey;
    gap: 10px;
}
.camp-card{
    border: 1px solid rgb(205, 203, 203);
    display: flex;
    min-width:30%;
    padding: 10px;
    border-radius: 8px;
    margin-top: 2vh;
    align-items: center;
    transition: 0.2s ease-in-out;
}
.card-icon{
    font-size: 30px;
    /* margin: auto; */
}
.card{
    margin-left: 20px;
}
.card h2{
    font-size: 15px;
}
.card p{
    font-size: 14px;
}
.card-head{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 4vh;
}
.continuebtn{
    display: flex;
    justify-content: flex-end;
    margin-right: 9vw;
    margin-top: 4vh;
    margin-bottom: 5vh;
    transition: all 0.5;
}
.continuebtn button{
    font-size: 20px;
    padding: 8px 50px;
    border: solid thin;
    background: #0F6EFF;
    color: white;
    border-radius: 8px;
}
.camp-card:hover{
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2) , -2px -2px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    border: grey;
}
.camp-card:hover .card-icon{
    color: #0F6EFF;
}
.continuebtn button:hover{
    cursor: pointer;
    /* transform: scale(1.1); */
    background-color: #2B23A5;
}